*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#viewer-container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

/*Tree view: https://www.w3schools.com/howto/howto_js_treeview.asp*/

.ifc-tree-menu {
    position: absolute;
    overflow-y: scroll;
    background-color:  rgba(4, 4, 37, 0.5);
    height: 100vh;
    color: white;
}

.ifc-tree-menu li ul {
    user-select: none;
    cursor: pointer;
}

/* Remove default bullets */
.ifc-tree-menu ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0.5rem;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color:white;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
    margin-left: 10px;
}

/*PROPERTIES*/
#dowpdown-menu-container{
    position: absolute;
    top:0;
    right: 0;
}

.ifc-property-menu {
    border: 1px solid white;
    /*width: 20rem;*/
    /*position: absolute;
    top:0;
    right: 0;*/
    /*background-color: white;*/
    background-color:  rgba(4, 4, 37, 0.5);
    /*position: relative;*/
    color: white;
    font-weight: 400;
    
}

.ifc-property-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    border-bottom: solid 1px gray;
}

.ifc-property-value {
    width: 100%;
    text-align: right;
}
/*FIN PROPERTIES*/

/*DROPDOWN MENU*/
.accordion{
    /*max-width: 800px;*/
    position: absolute;
    top: 0;
    right: 0;
}

.accordion .contentBX{
    position: relative;
    /*margin: 10px 20px;*/
    border: solid white;
    width: 350px;
    
}

.accordion .contentBX .label{
    position: relative;
    padding: 10px;
    background: #27374D;
    color: #fff;
    cursor: pointer;
}

.accordion .contentBX .label::before{
    content: '+';
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBX .content{
    position: relative;
    /*background: #DDE6ED;*/
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBX.active-2 .content{
    height: auto;
    /*padding: 10px;*/
}

.accordion .contentBX.active-2 .label::before{
    content: '-';
}

/*END DROPDOWN MENU*/

/*EXPORT TO EXCEL*/

.export-table-container{
    display: none;
}

.export-buttons{
    background-color: rgba(4, 4, 37, 0.5);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.export-buttons button{
    background-color:#27374D;
    color: #fff;
    width: 100px;
    height: 25px;
}



/*END EXPORT TO EXCEL*/

/*VISIBILITY*/
.checkboxes {
    /*position: absolute;*/
    /*left: 1rem;
    top: 1rem;*/
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(4, 4, 37, 0.5);
    color: white;
    font-weight: 400;
}

.checkboxes div{
    width: 150px;
}
/*END VISIBILITY*/